*{
    margin: 0;
    padding: 0;
    border: 0;
}

.Box_Main {
	background:url(Background3.jpg) ;
	height:100% ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 0;
  

}

.Name_V, .Name_A, .And {
	text-align: center;
	position: relative;
}

.Our_photo, .Date_img, .Restaurant {
    text-align: center;

}

.Restaurant, .Wishes {
    background-color: #c4a9a941;
}

.Invite_text, .Location_Text_Main, .Location_Text{
	text-align: center;
}

table.EvenT_TAB{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto; }

table.EvenT_TAB,table.EvenT_TAB td, table.EvenT_TAB th {
	border: 1px solid #595959; }

table.EvenT_TAB td,table.EvenT_TAB th {
	min-height:35px;padding: 3px; 
	width: 30px;
	height: 35px; }

table.EvenT_TAB th {
	background: #347c99;
	color: #fff;
	font-weight: normal; }

.Time_text, .Wishes_text, .ContacT_Text{
	text-align: center
}

.Flower{
	text-align: center;
	transform: rotate(210deg);
}
table.Timer_TAB{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.Timer_TAB,table.Timer_TAB td, table.Timer_TAB th {
	border: 1px solid #595959;
}
table.Timer_TAB td,table.Timer_TAB th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.Timer_TAB th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}
.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #729ddf;
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 3px solid #00e1ff;
	user-select: none;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 50px;
}

.units {
	font-size: 15px;
}